[package]
name = "calcagebra"
version = "2.0.1"
edition = "2021"

[dependencies]
clap = { version = "4.0.9", features = ["derive"] }
cranelift = { version = "0.114.0", features = ["module", "jit", "native"] }
plotters = "0.3.7"
rand = "0.8.5"
rustyline = { version = "14.0.0", features = ["derive"] }
syntect = "5.2.0"
viuer = { version = "0.9.1", features = ["print-file"] }

[profile.release]
opt-level = 'z'
lto = true
codegen-units = 1
panic = 'abort'
strip = true

[profile.dev]
debug = true
